.sidebar[b-twtv53eca1] {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #e9fac8;
    height: 95vh;
}

.content[b-twtv53eca1] {
    height: 95vh;
    border-radius: 1rem;
    margin: 1rem;
    width: 81vw;
}

@media (min-width: 641px) {
    .sidebar[b-twtv53eca1] {
        width: 16vw;
        position: sticky;
        top: 0;
    }
}
