/* _content/limefarm/Shared/MainLayout.razor.rz.scp.css */
.sidebar[b-twtv53eca1] {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #e9fac8;
    height: 95vh;
}

.content[b-twtv53eca1] {
    height: 95vh;
    border-radius: 1rem;
    margin: 1rem;
    width: 81vw;
}

@media (min-width: 641px) {
    .sidebar[b-twtv53eca1] {
        width: 16vw;
        position: sticky;
        top: 0;
    }
}
/* _content/limefarm/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-aqnfovxgdo] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-aqnfovxgdo] {
    height: auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-brand[b-aqnfovxgdo] {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.oi[b-aqnfovxgdo] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-aqnfovxgdo] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-aqnfovxgdo] {
    }

    .nav-item[b-aqnfovxgdo]  a {
        color: #5C940D;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-aqnfovxgdo]  a.active {
    background-color: #d8f5a2;
    font-weight: bold;
}

.nav-item[b-aqnfovxgdo]  a:hover {
    background-color: #f4fce3;
}
