@inherits LayoutComponentBase

<div class="d-flex flex-nowrap">
    <div class="sidebar mobile-disable">
        <NavMenu />
    </div>
    
    <div class="mobile-show">
        
    </div>

    <main>
        <article class="content shadow-sm border">
            @Body
        </article>
    </main>
</div>
