@inherits LayoutComponentBase

<div class="d-flex flex-nowrap">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content shadow-sm border">
            @Body
        </article>
    </main>
</div>
