<div class="top-row navbar navbar-dark border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="image/icons/icon.png" width="35" height="35" alt="icon" />
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav-container">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
            </NavLink>
        </div>
    </nav>
</div>
